body {
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
}
header .logo img {
    height: 60px;
    width: auto;
    box-shadow: 4px 8px 10px #00000080 ;
    border-radius: 20px;
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 12px;
}
header nav ul li a {
    display: inline-block;
    color: #fff;
    margin: 0 8px;
    padding: 10px 15px; 
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}
header nav ul li a:hover {
    background: radial-gradient(#b4e9ed, rgb(0, 170, 255) );
    transform:translateY(-3px);
    box-shadow: 2px 4px 10px #000000;
    color: rgb(0, 0, 0);
}
#menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}
.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto ;
    padding: 50px;
    background-color: #ffffff;
    transition: 0.3s;;
}

.presentacion h1 {
    font-size: 80px;
    color: blue;
}
.presentacion p {
    font-size: 40px;
    color: #333;
    text-align: center;
    max-width: auto;
}
.presentacion:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18), 0 1.5px 3px rgba(0,0,0,0.08);
    transform: translateY(-10px) scale(1.02);
    background-color: rgba(255, 255, 255, 0.95);
    border-color: #0074d974;
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, border-color 0.3s;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background-color: #ffffff;
    transition: 0.3s;
    border-radius: 25px;
}

.producto {
    flex: 0 1 calc(33% - 40px);
    box-shadow: #0074d9 0px 10px 20px -10px;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    padding: 20px;
    transition: 0.3s
    border radius 10px;
    border: 2px solid transparent;


}
.producto h2 {
    font-size: 55px;
    color: #0088ff;
    text-align: center;
    margin: 10px 0;
}
.producto p {
    font-size: 40px;
    color: #555;
    text-align: center;
    margin: 5px 0;
    color: #555;
}
.producto button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s, transform 0.2s;
}
.producto img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: block;
    margin: 0 auto;
}
.producto button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}
.producto:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18), 0 1.5px 3px rgba(0,0,0,0.08);
    transform: translateY(-10px) scale(1.02);
    border-color: #0074d92b;
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, border-color 0.3s;
}
footer {
    background-color: blue;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    box-shadow: -1px -10px 10px rgb(115, 110, 183);
    margin-top: auto; /* 🔹 empuja el footer abajo */
}
footer a {
  color: #fff;
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  text-align: center;
}
footer a:hover {
  background: #fff;
  color: #000000;
  border-color: #000000;
  transform: scale(1.1);
}